
.div-square{
    display: flex;
    justify-content: center;
}
.line{
    display: flex;
    height: 400px;
    flex-direction: column;
    border: 1px solid black;
}
.div-child{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    transition: all 0s;
}
.hovered{
    background-color: black;
}